server:
  port: 8081

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8061/eureka/
---
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://localhost:5432/thirdparty
    username: postgres
    password: 12345678
    hikari:
      poolName: Hikari
      maximumPoolSize: 5
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.default_schema: db_payment
      hibernate.id.new_generator_mappings: true
      hibernate.connection.provider_disables_autocommit: true
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false

---
spring:
  kafka:
    bootstrap-servers: localhost:9092
    topic:
      producer:
        payment.name: t_payment
      consumer:
        booking.name: t_booking_result
        payment.name: t_payment_result
    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.LongDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        allow.auto.create.topics: false

---
#local development
spring:
  config:
    activate:
      on-profile: dev
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://192.168.8.200:8086

---
#vps production config
spring:
  config:
    activate:
      on-profile: prod
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://170.64.179.146:8060