//header and footer group
@use "./../components/header/header.scss";

//components group
@use "./components/button.scss";

//banner group
@use "./pages/bannerhome.scss";

//Home elements group
@use "./pages/home.scss";