//header and footer group
@use "./../components/header/header.scss";
@use "./../components/footer/footer.scss"; 
@use "./../components/pillSliderCategory/PillSliderCategory.scss";

//components group
@use "./components/button.scss";

//Home elements group
@use "./pages/solutionhome.scss"; //solutoin information
@use "./pages/bannerhome.scss"; // banner
@use "./pages/categoryhome.scss";

@use "./../login/login.scss";