#NOW IMPORTANT NOTE: VPS -->> REMOVE ALL HEALTH CHECK

services:

  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
      POSTGRES_DB: thirdparty
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - backend


  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # Docker internal listeners (for my apps) and External listeners (for my PC)
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - backend

  config-service:
    build: ./config-service
    container_name: config-service
    ports:
      - "8088:8088"
    environment:
      - SPRING_PROFILES_ACTIVE=native
    networks:
      - backend
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:8088/actuator/health || exit 1"
  #      interval: 10s
  #      retries: 5
  #      start_period: 60s

  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    ports:
      - "8061:8061"
    depends_on:
      config-service:
        condition: service_healthy
    environment:
      - EUREKA_INSTANCE_HOSTNAME=discovery-service

      # 1. THE FIX: Inject the variable your config file is looking for
      - CONFIG_SERVER_URL=http://config-service:8088

      # 2. Keep these for the initial bootstrap connection
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8088
      - SPRING_CONFIG_IMPORT=configserver:http://config-service:8088

    networks:
      - backend
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:8061/actuator/health || exit 1"
      interval: 10s
      retries: 5
      start_period: 5s

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8060:8060"
    depends_on:
      discovery-service:
        condition: service_healthy
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8061/eureka/

      - CONFIG_SERVER_URL=http://config-service:8088
      # OVERRIDE BOTH LEGACY AND MODERN CONFIGS
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8088
      - SPRING_CONFIG_IMPORT=configserver:http://config-service:8088
    networks:
      - backend

  authorization-service:
    build: ./authorization-service
    container_name: authorization-service
    ports:
      - "8086:8086"
    depends_on:
      config-service:
        condition: service_healthy
      postgres:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/thirdparty
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8061/eureka/
      # OVERRIDE BOTH
      - CONFIG_SERVER_URL=http://config-service:8088
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8088
      - SPRING_CONFIG_IMPORT=configserver:http://config-service:8088
    networks:
      - backend

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8085:8085"
    depends_on:
      - postgres
      - discovery-service
      - authorization-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/thirdparty
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8061/eureka/

      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://authorization-service:8086/oauth2/jwks

      - CONFIG_SERVER_URL=http://config-service:8088
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8088
      - SPRING_CONFIG_IMPORT=configserver:http://config-service:8088
    networks:
      - backend

  booking-service:
    build: ./booking-service
    container_name: booking-service
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - kafka
      - discovery-service
      - authorization-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/thirdparty
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092

      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8061/eureka/
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://authorization-service:8086/oauth2/jwks

      - CONFIG_SERVER_URL=http://config-service:8088
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8088
      - SPRING_CONFIG_IMPORT=configserver:http://config-service:8088
    networks:
      - backend

  job-service:
    build: ./job-service
    container_name: job-service
    ports:
      - "8083:8083"
    depends_on:
      - postgres
      - kafka
      - discovery-service
      - authorization-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/thirdparty
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8061/eureka/
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://authorization-service:8086/oauth2/jwks
      - CONFIG_SERVER_URL=http://config-service:8088
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8088
      - SPRING_CONFIG_IMPORT=configserver:http://config-service:8088
    networks:
      - backend

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - kafka
      - discovery-service
      - authorization-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/thirdparty
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8061/eureka/
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://authorization-service:8086/oauth2/jwks
      - CONFIG_SERVER_URL=http://config-service:8088
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8088
      - SPRING_CONFIG_IMPORT=configserver:http://config-service:8088
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:
    driver: bridge