.my-btn {
    display: inline-flex; //flex is better for entering icon
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 9999px;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    &-solid {
        background-color: #000000;
        color: #ffffff;
        
        &:hover {
            background-color: #333333; // Dark gray on hover
            transform: scale(1.02); // subtle pop effect
        }
    }
    &-primary {
        background-color: #EEEEEE; // Uber's light gray
        color: #000000;
        
        &:hover {
            background-color: #E2E2E2; // Slightly darker gray on hover
        }
    }
    &-ghost {
        border: 1px solid #fff;
        background-color: #fff;
        color: #6100d2;
    }
}