.banner-home {
    width: calc(100% - 40px);
    margin-left: 24px;
    margin-bottom: 64px;
    margin-top: 80px;
    position: relative;
    z-index: 20;
    min-height: 600px;
    border-radius: 8px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            90deg, 
            rgba(0, 0, 0, 0.95) 0%, /* Very dark black at the start (Left) */
            rgba(0, 0, 0, 0.7) 40%, /* Still dark near the middle */
            transparent 100%          /* Fades out completely at the end (Right) */
        );

        border-radius: 8px;
        pointer-events: none;

        z-index: 1;
    }

    Image {
        width: 100%;
        display: block;
        border-radius: 8px;
        -o-object-fit: cover;
        object-fit: cover;
        height: 600px;

        position: relative;
        z-index: 0;
    }

    .caption-home-banner {
        width: 100%;
        padding: 0 15px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 1;
        @media (min-width: 1200px) {
        max-width: 1140px;
        }

        h1 {
            color: #fff;
            font-size: 50px;
            line-height: 70px;
            font-weight: 700;
            margin-bottom: 12px;
            max-width: 656px;
            @media (max-width: 480px) {
                font-size: 32px;
                line-height: 48px;
            }
        }
        p {
            max-width: 561px;
            font-size: 20px;
            color: hsla(0, 0%, 100%, 0.9);
            margin-bottom: 32px;
        }
    }
} 